# Postgres Database
DATABASE_URL="postgres://postgres:postgres@localhost:5432/communicate_ai"

# Google App/Service Account
GOOGLE_SERVICE_ACCOUNT_JSON=

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Meta WhatsApp Cloud API
META_WHATSAPP_TOKEN=
META_WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_TO_E164=

# SendGrid Email
SENDGRID_API_KEY=
FROM_EMAIL=
REPLY_TO_EMAIL=

# Upstash QStash
QSTASH_TOKEN=
QSTASH_CURRENT_SIGNING_KEY=
QSTASH_NEXT_SIGNING_KEY=

# OpenAI (AI SDK)
OPENAI_API_KEY=
